@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400&display=swap');

.style__font{
    font-family: 'Cairo', sans-serif;  
    top:260px;
    right:25%;
    font-size: 200px;
    position: absolute;

}
p{
    color:black
}