@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&display=swap');

 
.navigation{
  list-style: none;
  display: flex;
  position: absolute;
  right:2px;
  top: 10px;
   &__item{
     font-family: 'Cairo', sans-serif;
     font-size: 25px;
     margin-right: 50px;
     color: whitesmoke;
     text-decoration: none;
     padding-left: 30px;
     border-left: 1px solid;
   }
}

@media(max-width: 690px){
  body{
    height: 100vh;
  }
.menu h1{
      display: block; 
      position: absolute;
      bottom:10px ;
      color:rgb(171, 189, 197);
  }
}
@media(max-width: 545px){
  .navigation{
    display: block;
}
li{
  padding-bottom:10px;
}
}
