@import "~normalize.css";

@import "_variables";
@import "modules/menu.scss";
@import "modules/cyber_eye.scss";
@import "modules/content.scss";

html  {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
  background: $wtf;
  color: rgb(255, 255, 255);
  
}
