@import "~normalize.css";

@import "_variables";
@import "modules/menu.scss";
@import "modules/cyber_eye.scss";
@import "modules/content.scss";
@import "modules/contentext.scss";
@import "modules/kontakt.scss";
@import "modules/oMnie.scss";
@import "modules/projekty.scss";


html  {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
  
  height: 100vh;
  background: url(../assets/img/wall2.jpg);
  background-position:center;
  background-size:cover;
  color: rgb(255, 255, 255);
 
  
}
